<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ base_url }}/">RDFa</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li {% if page.nav_index == 1 %}class="active"{% endif %}><a href="{{ base_url }}/play" >Play</a></li>
          <li {% if page.nav_index == 2 %}class="active"{% endif %}><a href="{{ base_url }}/docs">Documentation</a></li>
          <li {% if page.nav_index == 3 %}class="active"{% endif %}><a href="{{ base_url }}/tools">Tools</a></li>
          <li {% if page.nav_index == 4 %}class="active"{% endif %}><a href="{{ base_url }}/dev">Developers</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
