<!DOCTYPE html>
<html
  prefix="
    xhv: http://www.w3.org/1999/xhtml/vocab#
    xsd: http://www.w3.org/2001/XMLSchema#
    rdfs: http://www.w3.org/2000/01/rdf-schema#
    dc: http://purl.org/dc/terms/
    vcard: http://www.w3.org/2006/vcard/ns#
    v: http://rdf.data-vocabulary.org/#
    doap: http://usefulinc.com/ns/doap#"
  lang="en" >
  <head>
    {% include head.html %}
    {% include play-head.html %}
  </head>

  <body>
    {% include nav.html %}
    {{ content }}

    {% include foot.html %}
  </body>

</html>