<!DOCTYPE html>
<html lang="en" >
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/css/application.css" />
    
  </head>

  <body>
    {% include nav.html %}
    {{ content }}

    {% include foot.html %}
    <script type="text/javascript" src="{{base_url}}/javascripts/underscore-1.3.1.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/backbone-0.9.1.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/models/test-model.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/models/version-model.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/details-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/earl-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/host-language-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/processor-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/progress-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/run-all-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/source-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/test-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/views/version-view.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/rdflib.js"></script>
    <script type="text/javascript" src="{{base_url}}/javascripts/application.js"></script>
  </body>

</html>